<div class="text-center">
    <h2>Welcome to fccBookTrading!</h2>
    <h3>The only thing left to do is to login with your Octocat account.</h3>
    
    <p>Join the coolest book trading club on Earth. You can't think of a place where books are traded that much.</p>
</div>