<div class="container-fluid">
    <h2>Your books</h2>
    
    {{#if books.length}}
        {{#each books}}
            <div class="row text-center">
                <div class="col-md-6 first">
                    {{ name }}
                </div>
                <div class="col-md-6">
                    <a href="/api/delete-book/{{ _id }}">
                        <button class="btn btn-danger">
                            Delete this book
                        </button>
                    </a>
                </div>
            </div>
            <hr></hr>
        {{/each}}
    {{else}}
        <h4>Nothing to show here, add a book to change that fact.</h4>
    {{/if}}
    
    <form action="/api/add-book" method="post">
        <div class="row">
            <div class="col-md-9 text-center first">
                <input type="text" name="name" placeholder="Lord of the Rings">
            </div>
            <div class="col-md-3">
                <button class="btn btn-default">Add a new book</button>
            </div>
        </div>
    </form>
</div>

<style>
    .first.col-md-6 {
        padding-top: 10px;
        height: 24px;
    }
    
    .first.col-md-9 {
        padding-top: 5px;
        height: 24px;
    }
    
    input {
        width: 100%;
        text-align: center;
    }
</style>